body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
   
}
.animal {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
}
.foto{
max-width: 25%;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
a {
    color: #1a73e8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}
header {
    background: #a8840c;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(214, 15, 15, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
button{
    background-image: url("image.png") ;

    background-position: 20%;
    padding: 35px 35px;
}
